<a href="https://colab.research.google.com/github/Sahlegiorgis/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Sahle_Copy_of_Practice_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# You did it!

If you're reading this text in a Google Colab text editor then you have successfully opened this file from GitHub in Google Colab!

Please make a change to this file by typing `2+2` in the code cell below. Make sure that you run the code cell and can see the number `4` outputted below the code cell. Once you have modified the file you will be able to save your changes back to your GitHub account.

In [ ]:
# Make your change here
print(2 + 2)

4

After making your change and running hte code cell, from the top menu select `File` -> `Save a Copy in GitHub` in order to save the changes that you have made in this file back to the appropriate repository on GitHub. 

Once you have done this, your browser will open a new tab showing you a preview of the saved file on GitHub. You should be able to see the changes that you have made to the file in that file preview.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [ ]:
url = 'https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv'
print(url)

https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv

In [ ]:
data = url
data = pd.read_csv(url)
data.head()

   OBJECTID     LENGTH                       NAME  ... Shape_Length MILES  ROUTEID
0         1    827.476       National Mall Trails  ...   252.214952   0.0      NaN
1         2  19225.404     Capital Crescent Trail  ...  5859.914940   0.0      NaN
2         3  25404.687           Rock Creek Trail  ...  7743.364240   0.0      NaN
3         4   6201.712  Metropolitan Branch Trail  ...  1890.285630   0.0      NaN
4         5  12625.091         Watts Branch Trail  ...  3848.135455   0.0      NaN

[5 rows x 8 columns]

In [ ]:
data.columns

Index(['OBJECTID', 'LENGTH', 'NAME', 'STATUS', 'MAINTENANC', 'Shape_Length',
       'MILES', 'ROUTEID'],
      dtype='object')